{% extends "games/base.html" %}

{% block title %}Add Game - GameVault{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h1>Add a Game 🎮</h1>
        <p>Add a new game to your personal library.</p>
    </div>

    <a href="{% url 'library' %}">
        ← Back to Library
    </a>

</div>

<div class="card">

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {% if game_form.non_field_errors %}
            <div class="message">
                {{ game_form.non_field_errors }}
            </div>
        {% endif %}

        {% if entry_form.non_field_errors %}
            <div class="message">
                {{ entry_form.non_field_errors }}
            </div>
        {% endif %}

        <h2>Game Information</h2>

        {{ game_form.as_p }}

        <h2 style="margin-top: 30px;">
            Your Information
        </h2>

        {{ entry_form.as_p }}

        <button type="submit">
            Add to Library
        </button>

    </form>

</div>

{% endblock %}